body {
  font-family: Arial, sans-serif;
  text-align: center;
  /* background-color: #f0f2f5;
  padding: 20px; */
  background-color: #0c57ec;
  height: 100%;
  background-image: url('Picture1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-color: black;
}



form {
  background: transparent;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  height: 50%;
}

input[type="text"],
input[type="file"] {
  padding: 8px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #3366cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #254a99;
}
